<?xml version="1.0"?>
<launch>


<include file="$(find lizi_base_station)/launch/multi_lizi_control.launch"/> 



<machine name="lizi3" address="192.168.0.103" user="lizi" password="a" env-loader="~/catkin_ws/src/lizi_robot/lizi/config/lizi_env/lizi3_env.sh" default="true"/>

<group ns="lizi_3">

<!-- ~~~~~~~THIS BLOCK CAN RUN ONLY FOR ONE ROBOT~~~~~~~ -->
<param name="/robot_description" command="$(find xacro)/xacro.py '$(find lizi_urdf)/robots/lizi.xacro' lizi_id:=3" />
<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 map lizi_3_odom 20" /> 
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<include file="$(find lizi_base_station)/launch/remote_lizi.launch">
<arg name="id" value="3" />
</include>

</group>


<!--
<machine name="lizi4" address="192.168.0.104" user="lizi" password="a" env-loader="~/catkin_ws/src/lizi_robot/lizi/config/lizi_env/lizi4_env.sh" default="true"/>
<group ns="lizi_4">

<include file="$(find lizi_base_station)/launch/remote_lizi.launch">
<arg name="id" value="4" />
</include>

</group>
-->





</launch>

 
