<?xml version="1.0"?>
<launch>


<rosparam file="$(find lizi_base_station)/config/multi_lizi_control.yaml" command="load" />

<node pkg="joy" name="joy" type="joy_node" output="screen">
    <param name="deadzone" type="double" value="0.15" />
    <param name="dev" type="str" value="/dev/input/Xbox360" />  <!-- Change this to your joystick port -->	
</node>

<node name="multi_lizi_control" pkg="lizi_base_station" type="multi_lizi_control.py" output="screen" />

</launch>
 
