<?xml version="1.0"?>
<launch>
<arg name="id" default='1' />
<rosparam file="$(find lizi)/config/default.yaml" command="load" />
<param name="Lizi_ID" value="$(arg id)" type="str"/> 
<param name="robot_description" command="$(find xacro)/xacro.py '$(find lizi)/lizi_urdf/robots/lizi.xacro' lizi_id:=$(arg id)" />

<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 /map /lizi_$(arg id)/odom 20" /> 

<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 

<node name="lizi_node" pkg="lizi" type="lizi_node" output="screen" />

<node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" output="screen"/>


</launch>

 
